body {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: #d7fdf9;
}
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.card {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    background-color: #ffffff;
}

#Wali-Kelas {
  text-align: center;
  background-color: white;
  margin: 10px;
}

#Jumlah-siswa {
    margin: 10px;
    text-align: center;
    border: 2px solid black;
    background-color: #fff9fe;
}

#Laki-laki {
    margin: 10px;
    text-align: center;
    border: 2px solid rgb(213, 72, 190);
    background-color: #f4fff5;
}

#Perempuan {
    margin: 10px;
    text-align: center;
    border: 2px solid rgb(71, 71, 239);
    background-color: #fff5fd;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}