*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    background-color: rgb(81, 172, 233);
}
h1 {
    margin-bottom: 20px;
    color: #333;
}
.menu {
    padding: 0;
    background-color: #131212;
    margin: 0 0 20px 0;
    list-style: none;
}
.menu li {
    display: inline-block;
    margin: 10;
    text-decoration: none;
    padding: 10px 20px;
}
.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
}
.menu li:nth-child(1) a {
    background-color: #c087de;
    text-decoration: none;
    border-radius: 3px;
}
.menu li:nth-child(2) a {
    background-color: #bce758;
    text-decoration: none;
    border-radius: 3px;
}
.menu li:nth-child(3) a {
    background-color: rgb(87, 219, 26);
    text-decoration: none;
    border-radius: 3px;
}
.menu li:nth-child(4) a {
    background-color: #e659ce;
    text-decoration: none;
    border-radius: 3px;
}
.menu li:nth-child(5) a {
    background-color: #7255e6;
    text-decoration: none;
    border-radius: 3px;
}
.menu li a:hover {
    opacity: 0.8;
}
